#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS_MAINT += -O0
else
	CFLAGS_MAINT += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif
ifneq (,$(findstring thumb,$(DEB_BUILD_OPTIONS)))
	CFLAGS_MAINT += -mthumb
endif
ifeq (,$(findstring nolauncher,$(DEB_BUILD_OPTIONS)))
	CONFIGURE_OPTIONS += --enable-maemo-launcher
	USE_MAEMO_LAUNCHER = true
endif

CONFIGURE_OPTIONS += --disable-static

CPPFLAGS_MAINT += -DTAP_AND_HOLD
CXXFLAGS_MAINT += -Wall -Wno-format -Wno-format-security -g
LDFLAGS_MAINT += -Wl,--as-needed

export DEB_CPPFLAGS_MAINT_APPEND = $(CPPFLAGS_MAINT)
export DEB_CXXFLAGS_MAINT_APPEND = $(CXXFLAGS_MAINT)
export DEB_CFLAGS_MAINT_APPEND   = $(CFLAGS_MAINT)
export DEB_LDFLAGS_MAINT_APPEND  = $(LDFLAGS_MAINT)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(CONFIGURE_OPTIONS) --libexecdir=/usr/libexec

override_dh_install:
	dh_install
	dh_installxsession -u 'post 40'
	if test "x$(USE_MAEMO_LAUNCHER)" = "xtrue"; then \
		dh_maemolauncher -v; \
	fi
	for i in alpha beta; do \
		echo $$i; \
		mkdir -p $(CURDIR)/debian/hildon-application-manager/usr/share/themes/$$i/backgrounds; \
		cp share/themes/$$i-background.png $(CURDIR)/debian/hildon-application-manager/usr/share/themes/$$i/backgrounds/applicationmanager-portrait.png; \
	done
	rm `find $(CURDIR)/debian/hildon-application-manager -name '*.la'`
